body{
    margin: 0;
    font-family: 'Lato', 'Helvetica', 'Sans-serif';
    overflow-x: hidden;
}

h3{
    font-weight: 700 !important;
}

a{
    text-decoration: none;
    color:inherit;
}

.diffusionImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
}

.landingContainer {
    height: 100vh;   
    width: 100%; 
    background: linear-gradient(45deg, red, blue);
    background-image: url('./img/background-layer-plant.png');
    background-size: contain, cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right; 
}

.loader-image{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
}

.ocean-protocol-dashboard{
    text-align: center;
}

footer{
    background-color: #3F3D4B;
    color: white;
}